footer {
  position: relative;
  z-index: 99;
  background-color: black;
  border-top: 4px solid rgb(249, 115, 22);
}
.footer-main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.9) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("/imgs/footer.webp");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  opacity: 0.9;
  filter: saturate(1) brightness(0.8);
  z-index: -1;
}
