* {
  padding: 0;
  margin: 0;
}

body,
html {
  min-height: 100%;
  max-width: 100%;
}

.square_root {
  vertical-align: 60%;
  font-size: 1.5rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.header_background {
  background-color: #030107;
  color: white;
  min-height: 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: rgb(99, 99, 99) 1px solid;
}

main {
  flex: 1;
  padding: 0rem;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: relative;
  min-height: 100px;
  bottom: 0;
  width: 100%;
  border-top: rgb(99, 99, 99) 1px solid;
}

.neonText {
  font-family: "Bellota", system-ui;
  font-weight: 400;
  font-size: 3rem;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff,
    /* Pink glow */ 0 0 20px #ff00ff, 0 0 25px #ff00ff, 0 0 30px #ff00ff,
    0 0 35px #ff00ff;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00ff, 0 0 20px #ff00ff,
      0 0 25px #ff00ff, 0 0 30px #ff00ff, 0 0 35px #ff00ff;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
